<div *ngIf="login_attempted; else login_not_attempted" class="login_message">
    <div *ngIf="login_success; else login_failure">
        <p>Successfully Logged in!</p>
        <p>Welcome! {{username}}</p>
    </div>
    <ng-template #login_failure>
        <p>Invalid Login!!! Please try again...</p>
    </ng-template>
</div>
<ng-template #login_not_attempted class="login_form">
    <label for="username">Username : </label>
    <input #username_input name="username" type="text" required>
    <br>
    <label for="password">Password : </label>
    <input #password_input name="password" type="text" required>
    <br>
    <button (click)="login(username_input.value,password_input.value)">Login</button>
</ng-template>
<router-outlet />
