@if (login_attempted) {
  <div class="login_message">
    @if (login_success) {
      <div>
        <p>Successfully Logged in!</p>
        <p>Welcome! {{username}}</p>
        <p>Select course from dropdown to view description</p>
        <div class="courses_selection_div">
          <label for="courses_selection"></label>
          <select name="courses_selection" id="courses_selection" [(ngModel)]="selectedCourse">
            @for (course of courses; track course) {
              <option value="{{course}}">{{course}}</option>
            }
          </select>
          <div>
            @switch (selectedCourse) {
              @case ('Angular.js') {
                <p>Angular is a javascript framework</p>
              }
              @case ('MongoDB') {
                <p>MongoDB is a database, used in backend</p>
              }
            }
          </div>
        </div>
      </div>
    } @else {
      <p>Invalid Login!!! Please try again...</p>
    }
  </div>
} @else {
  <div *repeat="times" class="login_form">
    <label for="username">Username : </label>
    <input #username_input name="username" type="text" required>
    <br>
      <label for="password">Password : </label>
      <input #password_input name="password" type="password" required>
      <br>
        <button (click)="login(username_input.value,password_input.value)">Login</button>
        <div class="login-game">
          <p>Bored?.. Don't know login credentials..?</p>
          <label for="times_input">Enter a number of times to repeat the login form</label>
          <input #repeat_times type="number" name="times_input">
          <p>Click <b class="button" (click)="set_times(+repeat_times.value)">here</b> to repeat</p>
        </div>
      </div>
    }

    <router-outlet />
